<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div  class="container">
  <h2>All of the families</h2>     
  <form class="form-inline my-2 my-lg-0">
    <input [(ngModel)]="input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [ngModelOptions]="{standalone: true}">
    <button (click)="search()" class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color:	#303030; border-color: 	#303030;  color: white">Search</button>
    
    <h6><label for="opt" style="margin-left: 15px">Search by</label></h6> <br>
    <select style="margin-left: 5px" name="opt" [(ngModel)]="searchBy" #opt="ngModel" required>
        <option *ngFor="let option of options" [ngValue]="option">
            {{ option }}
        </option>
    </select> 

  </form>
  <ng-container *ngIf="visible" >       
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>First name</th>
        <th>Second name</th>
        <th>PESEL</th>
         <th>Date of birth</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let father of fathers" (click)="chooseFamily(father?.family)" >
        <td>{{father?.firstName}}</td>
        <td>{{father?.secondName}}</td>
        <td>{{father?.pesel}}</td>
        <td>{{father?.birthDate| date: 'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
</div>
</body>

</html>