 <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
            <h3 class="card-title">Father</h3>
            <div><h2><b> {{father?.firstName}} {{father?.secondName}}</b></h2></div>
            <div><label>Date of birth:</label><b> {{father?.birthDate| date: 'dd/MM/yyyy'}}</b></div>
            <div><label>PESEL:</label><b> {{father?.pesel}}</b></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-block">
              <h2 class="card-title">Children</h2>
              <div *ngFor="let child of children">
                <div><h2><b> {{child?.firstName}} {{child?.secondName}}</b></h2></div>
                <div><label>Date of birth:</label><b> {{child?.birthDate| date: 'dd/MM/yyyy'}}</b></div>
                <div><label>PESEL:</label><b> {{child?.pesel}}</b></div>
                <div><label>Sex:</label><b> {{child?.sex}}</b></div>
            </div>
          </div>
        </div>
      </div>
      </div>