<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Start</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/addFather">Create new family</a>
          <a class="nav-item nav-link" href="/families">Families</a>
        </div>
      </div>
</nav>





  

      
