/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";



nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px,
    
}
.navbar-brand {font-size: 30px}



body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("src/assets/images/family.jpg");
    height: 77%; 
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 1.0;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

.caption span.border {
    background-color: 	#263238;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    
  }
  

